<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} &lt;%X{uid}:%X{rid}:%thread&gt; %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/${logFile:-default.log}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} &lt;%X{uid}:%X{rid}:%thread&gt; %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFile:-default.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${user.home}/${   logFile:-default.log}.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} &lt;%X{uid}:%X{rid}:%thread&gt; %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <!--<appender-ref ref="ROLLING" />-->
        <appender-ref ref="STDOUT" />

    </root>

    <logger name="org.apache.commons" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.mchange" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>

    <!-- Log SQL -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- Log More SQL -->
    <!--
    <logger name="org.hibernate.type" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="DEBUG"/>
    <logger name="org.hibernate.type.CollectionType" level="DEBUG"/>
    <logger name="org.springframework.jdbc.core" level="TRACE"/>
    -->

    <!-- Don't log SQL -->
    <logger name="org.springframework.jdbc.core" level="WARN"/>


    <logger name="org.springframework" level="WARN"/>

    <logger name="com.vzw" level="DEBUG"/>
    <logger name="com.vzw.tms.util.VerboseDebugInterceptor" level="TRACE" />
    <logger name="com.vzw.tms.util.ApplicationConfiguration" level="OFF"/>

</configuration>
